.home{
   display: flex;
   
    margin-left: auto;
    margin-right: auto;
   height: 100vh;
   width: 100vw;

}
.home__image{
    height: 40%;
    width: 100vw;   
}
.home__row{
    height: 70%;
   width: 100%;
   
}
.filter{
    display: flex;
    margin-left: auto;
}
.formElements{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10rem;
  padding-bottom: 10rem;
}